<h1>Product Inventory</h1>
<p>As of <%= format_time(Time.now) %></p>

<div>
  <%= link_to "Add New Item", new_item_path %>
</div>

<div>
  <%= form_tag(items_path, method: :get) do %>
    <p>Search for an item</p>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th><%= sortable_column "name", "Item Name" %></th>
        <th>UPC </th>
        <th><%= sortable_column "quantity", "Quantity Available" %></th>
        <th><%= sortable_column "price" %></th>
        <th><%= sortable_column "weight" %></th>
        <th>Description </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item.id) %></td>
          <td><%= item.upc %></td>
          <td><%= item.quantity %></td>
          <td><%= format_price(item) %></td>
          <td><%= format_weight(item) %></td>
          <td><%= item.description %></td>
          <td><%= link_to "Edit", edit_item_path(item.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
