<h1>Product Inventory</h1>
<p>As of <%= format_time(Time.now) %></p>

<div>
  <%= link_to "Add New Item", new_item_path %>
</div>

<div>
  <%= form_tag(items_path, method: :get) do %>
    <%= label_tag("search", "Filter by Name") %>
    <%= search_field_tag(:search, params[:search]) %>
    <% @tags.each do |tag| %>
      <%= label_tag(tag[:text]) %>
      <%= check_box_tag("tags[]", tag[:id], tag[:active]) %>
    <% end %>
    <%= label_tag("Price") %>
    <%= label_tag(:min_price, "Minimum Price") %>
    <%= text_field_tag(:min_price, format_price(@min_price)) %>
    <%= label_tag(:max_price, "Maximum Price") %>
    <%= text_field_tag(:max_price, format_price(@max_price)) %>
    <%= label_tag("In Stock?") %>
    <%= check_box_tag(:in_stock) %> <br>
    <%= submit_tag ("Filter") %>
  <% end %>
  <%= link_to "Clear", items_path %>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th><%= sortable_column "name", "Item Name" %></th>
        <th>UPC </th>
        <th><%= sortable_column "quantity", "Quantity Available" %></th>
        <th><%= sortable_column "price" %></th>
        <th><%= sortable_column "weight" %></th>
        <th>Description </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item.id) %></td>
          <td><%= item.upc %></td>
          <td><%= item.quantity %></td>
          <td><%= format_price(item.price) %></td>
          <td><%= format_weight(item) %></td>
          <td><%= item.description %></td>
          <td><%= link_to "Edit", edit_item_path(item.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
