<h1>Item Profile</h1>

<p><%= link_to "Edit Item", edit_item_path(@item.id) %></p>

<ul class="unstyled_list">
  <li><b>Name:</b> <%= @item.name %></li>
  <li><b>Description:</b> <%= @item.description %></li>
  <li><b>UPC:</b> <%= @item.upc %></li>
  <li><b>Weight:</b> <%= format_weight(@item) %></li>
</ul>

<h3>Sales Details</h3>
  <% if @item.in_stock? %>
  <div style="color: green">
    <p>Item is currently in stock.</p>
  </div>
  <% else %>
  <div style="color: red">
    <p>Item is currently out of stock.</p>
  </div>
  <% end %>
<ul class="unstyled_list">
  <li><b>Quantity Available:</b> <%= @item.quantity %></li>
  <li><b>Price:</b> <%= format_price(@item.price) %></li>
</ul>

<p><%= button_to "Delete Item", @item, form: { data: {"turbo-confirm": "Are you sure you want to delete #{@item.name}?"}}, method: "delete" %></p>

<p><%= link_to "Back to All Items", items_path %></p>
